<div class="d-flex flex-column flex-md-row carte-home-section align-items-center section">
  <div class="d-flex carte-home-img">
    <img class="img-fluid" src="/assets/images/dark-dish.png" alt="">
  </div>  
  <div class="d-flex flex-column carte-home-description">
    <h2 class="text-center">Notre Carte</h2>
    <p>Chez Quai Antique, chaque plat est une célébration de la cuisine française authentique, préparée avec des ingrédients frais et de qualité. Notre carte propose une sélection de plats qui allient tradition et créativité, permettant à nos invités de découvrir les saveurs intemporelles de la France tout en savourant des créations modernes et innovantes."</p>
    <p>Explorez nos menus et découvrez une expérience culinaire inoubliable, où chaque plat raconte une histoire unique.</p>
    <a href= "#" class="btn carte-home-btn" >CARTE</a> 
  </div> 
</div>