<div class="d-flex flex-column flex-lg-row galery-home-section section">
  <div class="d-flex flex-column galery-home-description">
    <h2>Galerie</h2>
    <p>Découvrez notre sélection de plats soigneusement préparés qui mettent en valeur le meilleur de la cuisine française. Chaque assiette est une œuvre d'art, alliant saveurs authentiques et créativité culinaire. Parcourez notre galerie et laissez-vous inspirer par nos créations gastronomiques.</p>
    <a href= "#" class="btn galery-home-btn" >GALERIE</a> 
  </div> 
  <div class="d-flex galery-home-img">
    <img class="img-fluid about-img" src="/assets/images/dish.jpg" alt="">
  </div>  
</div>
