.decorative-line {
  width: 15rem; 
  height: 0.2rem; 
  background-color: #C5A400; 
  border: none;
  margin: 2rem auto; 
}

.about-section{
  justify-content: flex-end;
}

.about-decorative{
  width: 80%;
  background-color: var(--medium-gray);
}

.about-description{
  height: 100%;
  background-color: white;
  margin-bottom: -100px;
}

.about-description p{
  font-size: min(2vh);
}

.about-img{
  width: 90%;
  height: 40vh;
  margin-top: 2rem;
  background-image: url("/assets/images/dish.png");
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.about-img--chef{
  height: 40vh;
  background-image: url("/assets/images/chef.png");
  background-position: center;
  background-size: cover;
}

.about-img--tradition{
  height: 40vh;
  background-image: url("/assets/images/tradition.jpg");
  background-position: center;
  background-size: cover;
}

.about-text{
  width: 100%;
}

@media (min-width: 768px) {
  
  .about-section{
    justify-content: flex-end;
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .about-decorative{    
    position: relative;
    width: 55%;    
    height: 25rem;
  }

  .about-description{
    margin-right: -100px;
  }

  .about-text{
    width: 55%;
  }

  .about-img{
    width: 45%;
    height: 30rem;
    margin-left: 2rem;
  }

  .about-img--chef{
    width: 45%;
    height: 30rem;
  }
  
  .about-img--tradition{
    width: 55%;
    height: 30rem;
  }
}


@media (min-width: 1200px) {
  
  .about-section{
    padding-right: 5rem;
    padding-left: 5rem;
  }

  .about-description p{
    font-size: 1.1rem;
  }
  
}