<div class="intro-section section">
  <hr class="decorative-line">
  <p class="text-center">Découvrez l'élégance de la cuisine française, où tradition et créativité s'unissent pour une expérience gastronomique inoubliable à Chambéry.</p>
  <hr class="decorative-line">
</div>

<div class="d-flex flex-column flex-lg-row about-section section">
  <div class="flex-grow-1 p-3 about-decorative">
    <div class="d-flex flex-column text-start about-description">
      <p>Bienvenue au Quai Antique, un coin de la cuisine française traditionnelle au cœur de Chambéry. Profitez d'une expérience gastronomique unique, où chaque plat reflète l'authenticité et l'art culinaire français, dans une ambiance élégante et chaleureuse. Venez vivre le goût de la tradition dans chaque bouchée.</p>
      <p>Notre chef, Arnaud Michant, met un point d'honneur à travailler des produits frais de qualité, en créant des plats raffinés et créatifs qui célèbrent le terroir français. À Quai Antique, chaque repas est une véritable invitation à découvrir la richesse des saveurs françaises, qu’il s’agisse de classiques intemporels ou de créations modernes."</p>
    </div>
  </div> 
  <div class="about-img">
    <img class="img-fluid about-img" src="/assets/images/dish.png" alt="">
  </div> 
</div>

<div class="d-flex flex-column flex-lg-row section">
  <div>
    <div class="d-flex flex-column about-description">
      <h2>Tradition et Créativité</h2>
      <p>Au Quai Antique, nous allions la tradition de la cuisine française à une touche moderne, créant des expériences culinaires uniques. Notre philosophie repose sur le respect des ingrédients frais, l'innovation dans chaque plat et l'engagement en faveur de la durabilité.</p>
    </div>
    <div class="about-img--tradition">
      <img class="img-fluid about-img" src="/assets/images/tradition.jpg" alt="">
    </div>  
  </div>
  <div>
    <div class="d-flex flex-column about-description">
      <h2>Chef</h2>
      <p>Notre chef, Arnaud Michant, originaire de Lyon, apporte plus de 15 ans d'expérience dans des restaurants de prestige. Inspiré par les recettes traditionnelles de son enfance et perfectionné sous la direction de chefs reconnus, Arnaud allie passion et créativité pour offrir des plats qui racontent une histoire unique.</p>
      <p style="font-style: italic;">« La cuisine est un pont entre le passé et le présent; chaque plat raconte une histoire que je souhaite partager avec ceux qui nous visitent. » – Chef Arnaud Michant.</p>
    </div> 
    <div class="about-img--chef">
      <img class="img-fluid about-img" src="/assets/images/chef.png" alt="">
    </div>
  </div> 
</div>
