<nav class="navbar navbar-principal navbar-expand-lg fixed-top shadow">
  <div class="container-fluid flex-wrap flex-lg-nowr  ap">
    <a class="navbar-brand" href="/">
      <img src="/assets/images/logo.png" class="img-fluid logo" alt="Logo Arcadia Zoo">
    </a>
    <button class="navbar-toggler navbar-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="mx-auto"></div>
      <div class="navbar-nav d-flex justify-content-center g-5">
        <a class="nav-link" href="/profile">Profil</a>
        <a class="nav-link" href="#">Carte</a>
        <a class="nav-link" href="#">Galerie</a>
        <a class="nav-link" href="#">Reservation</a>
      </div>
    </div>
  </div>
</nav>