<div class="section">
  <div class="d-flex flex-column flex-xl-row schedule-home-section p-5">
    <div class="d-flex flex-column text-start schedule-home-description">
      <h2>Horaire</h2>
      <p>Le Quai Antique est ouvert du mardi au dimanche pour vous offrir une expérience gastronomique inoubliable.</p>
    </div> 
    <div class="d-flex flex-column flex-xl-row gap-4 justify-content-evenly align-items-center schedule-home-cards">
      <div class="d-flex flex-column schedule-home-card">
        <h3>MARDI - DIMANCHE</h3>
        <p>Service du Midi : De 12h00 à 14h00</p>
        <p>Service du Soir : De 19h00 à 21h00</p>
      </div>
      <div class="d-flex flex-column schedule-home-card">
        <h3>LUNDI</h3>
        <p>Fermé</p>
      </div>
    </div>  
  </div>
</div>


